body {
    font-family: Arial, sans-serif;
    background-color: #fbfdfe;
    color: #333;
    text-align: center;
    transition: background-color 0.3s ease;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    
}

.quote_head{
    font-size: 5rem;
    font-weight: bold;
    color: rgb(9, 9, 9);
}



.quote-container {
    padding: 100px;
    background-color: #fff;
    border-radius: 60px;
    margin-bottom: 20px;
    margin-top: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quote {
    font-size: 1.5rem;
    line-height: 1.6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.quote-container {
    padding: 100px;
    background-color: #fff;
    border-radius: 60px;
    margin-bottom: 20px;
    margin-top: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.control{
    margin: 2rem;
   
}

button{
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #19599d;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#categorySelect, #prevButton, #randomButton, #nextButton{
padding: 0.8rem;
border-radius: 15px;
}

#nextButton{
    max-width: 8rem;
}

.mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    
  }
  
  .fontsize-toggle {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 3rem;
    font-weight: bold;
  }
  
  .dark-mode {
    background-color: #4e4b4b;
  }

  #increaseFontBtn, decreaseFontBtn{
    padding: 0.8rem;
    border-radius: 15px;
  }

  darkModeToggle{
    font-size: 50px;
    font-weight: bold;
  }



@media screen and (max-width: 768px) {
    .container {
      padding: 10px; 
    }
  
    .quote_head {
        margin-top: 10%;
      font-size: 3rem; 
    }
  
    .quote-container {
      padding: 50px; 
      border-radius: 40px;
    }
  
    .quote {
      font-size: 1.2rem; 
    }
  
    .control {
      margin: 1rem; 
    }
  
  
    button {
      padding: 6px 12px;
      margin: 0 3px;
      font-size: 0.9rem;
    }
  
    
    .fontsize-toggle {
      font-size: 2rem;
    }
  }
  